@model lzz博客.Models.Notice

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Prompt.cshtml";
}


<div class="row">
    
        <div class="col-xs-2">@Html.DisplayFor(model => model.Title)</div>
        <div class="col-xs-2">@Html.DisplayFor(model => model.Details)</div>
        @if (Model.DwellTime >= 0)
        {
            <div class="col-xs-8">系统将在 <span id="time">@Model.DwellTime </span>秒后跳转登陆页面。如未自动跳转请点击<a href="@Model.NavigationUrl">@Model.NavigationName</a>。</div>
           
            
        }
    
</div>
@*<script type="text/javascript">
                function Jump(time) {
                    window.setTimeout(function () {
                        time--;
                        $("#time").text(time);
                        if (time > 0) Jump(time);
                        else location.href = "@Model.NavigationUrl";
                    }, 1000);
                }
                Jump(@Model.DwellTime);
</script>*@

